/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/
/*reset.css*/
/* v1.0 | 20080212 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*clear fix*/
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.clearfix{display:inline-block;}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix{height:1%;}
/*start layout*/
body{
	background:#fff;
	color:#333;
	font-size:75%;
	font-family:Arial;
	margin:2em auto;
	line-height:1.5em;
}
textarea,input,select{
	font-family:Arial;
	font-size:1em;
}
h1{
	color:#d46021;
	font-size:2em;
	margin-bottom:0.5em;
}
h2{
	text-align:left;
	color:#d46021;
	font-size:1.3em;
	padding-left:0;
}
a{
	color:#2158C7;
}
div#container{
	width:960px;
	margin:0 auto;
	font-size:1em;
}
/*paging*/
div.paging{
	margin-bottom:1em;
	text-align:left;
}
div.paging div{
	border:solid 1px red;
	margin:1em 1em 0;
	padding:0.5em;
	border:solid 1px #d5d6d5;
	background:#f1f1f1;
}
ul.paging{
	display:inline-block;
}
ul.paging li{
	display:block;
	margin:0.2em 0;
	float:left;
}
ul.paging li.selected a{
	color:#fff;
	background:#2158C7;
	font-weight:bold;
	padding:0.5em 0.7em;
}
ul.paging li a{
	display:inline-block;
	line-height:1em;
	padding:0.5em 0.5em;
}
/*forms filter*/
fieldset{
	padding:1em;
	margin:1em;
	border:solid 2px #d46021;
}
legend{
	font-size:1.2em;
	font-weight:bold;
	padding:0 1em;
	padding-bottom:0.5em;
}
label{
	font-weight:bold;
}
fieldset span{padding-right:0.5em;}
div#show-sort label,
div#languages label,
div#filter-pattern label{
	display:inline-block;
	width:100px;
	line-height:2em;
}
div#show-sort select,
div#languages select,
div#filter-pattern select{
	width:120px;
	margin-right:0.5em;
}
div#show-sort input.text-default,
div#languages input.text-default,
div#filter-pattern input.text-default{
	width:200px;
}
p.hits{
	margin-top:1em;
}
/*translation edit*/
div.translations{
	padding:1em;
}
div.translations h2{
	margin-bottom:1em;
}
p.translate{
	background:red;
	border:solid 1px #d5d6d5;
	background:#f1f1f1;
	margin:0.5em;
	padding:0.7em 0.5em 0.5em 1.5em;
}
div.translation{
  margin:1em;
  margin-bottom:0;
}
div.translation input, div.translation textarea{
	width:98%;
	display:inline-block;
	padding:0.3em;
}
div.translation textarea{
	height:50px;
}
div.translation em strong{
	color:#333;
	padding-right:0.5em;
}
.translation .right {
  float:right;
}
.translation .autotranslate {
	color:gray;
}
.translation .key {
  color:silver;
}
div.translation a{
}
div.translation input.btnDefault{
	margin:0 0 1em;
	width:auto;
}
.focus-text{
}
div.selected{
}
.display{display:block !important;}
/*feedback*/
div#notice, div#error {
	font-size:1em;
	margin:1em;
  padding: 1em;
	border: 1px solid red;
}
div#notice span, div#error span{
	font-size:1.5em;
}

div#error {
  background-color: #F3C6CC;
  color: red;
}
div#notice {
  border-color: #72A974;
  color: #597B5C;
  background-color: #BCFFBD;
}
